<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/icons/heart16.ico"/>
    <!--<link href='//fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <!--<meta name="apple-mobile-web-app-capable" content="yes"/>-->
    <link href="/jslib/dojox/mobile/themes/iphone/iphone.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/jslib/dojox/widget/Calendar/Calendar.css">
    <link rel="stylesheet" href="/jslib/dojox/calendar/themes/claro/Calendar.css">
    <link href="/jslib/dijit/themes/claro/claro.css" rel="stylesheet" type="text/css">
    <!--<script type="text/javascript" src="/jslib/dojox/mobile/deviceTheme.js"></script>-->

    <script src="/jslib/moment/moment-with-locales.js"></script>
    <script src="/jslib/numeral/numeral.js"></script>
    <script src="/jslib/numeral/languages/ru-UA.js"></script>
    <script type="text/javascript" src="/jslib/dojo/dojo.js"
            data-dojo-config="async: true, parseOnLoad: false"></script>
    <title></title>
<style>
    table.filler{
        padding-top: 30px;
        margin: 0 auto;
        border-spacing:10px;
    }
    table.figure{
        padding-top: 20px;
        margin: 0 auto;
        border-spacing:20px;
    }
    td.filler{

        width:10px;
        height:10px;
        border-radius: 50px 50px;
        /*border-color: white;*/
        border: #263e6c solid 1px;
        background-color : #c5ccd3;
    }
   td.figure  {
        width:64px;
        height:64px;
        border-radius: 50px 50px;
        /*border-color: white;*/
        border: #263e6c solid 1px;
        text-align: center;
        font-size: 30px;
        font-weight: 100;
       color: #263e6c;
       background-color : #c5ccd3;
    }
</style>
</head>
<body id="body" class="claro" style="width:100%; height: 100%">
<div id="pass_view">
    <div id="heading"></div>
    <div id="pane"  style="width:100%;height:100%;">
        <table class="filler">
            <tr id="fillers_row">
                <td class="filler" id="filler1"></td>
                <td class="filler" id="filler2"> </td>
                <td class="filler" id="filler3"></td>
                <td class="filler" id="filler4"></td>
            </tr>

        </table>

        <table class="figure">
            <tr>
                <td class="figure"  id ="number_one">1</td>
                <td class="figure"  id="number_two">2</td>
                <td class="figure"  id="number_three">3</td>
            </tr>
            <tr>
                <td class="figure" id ="number_four">4</td>
                <td class="figure" id ="number_five">5</td>
                <td class="figure" id ="number_six">6</td>
            </tr>
            <tr>
                <td class="figure" id ="number_seven">7</td>
                <td class="figure" id ="number_eight">8</td>
                <td class="figure" id ="number_nine">9</td>
            </tr>
            <tr>
                <td style="border:none"></td>
                <td class="figure" id ="number_zero">0</td>
                <td style="border:none"></td>
            </tr>
        </table>
        </div>

    <div id="bottom_heding"></div>
</div>
</body>
<script>
    require(["dojo/dom-construct", "dojo/_base/xhr", "dojox/mobile", "dojox/mobile/parser", "dojox/mobile/View", "dojox/mobile/Heading", "dojox/mobile/RoundRectList",
                "dojox/mobile/ListItem", "dojo/parser", "dojo/ready", "dojox/mobile/ToolBarButton",
                "dijit/registry", "dojox/mobile/Tooltip", "dijit/CalendarLite", "dojox/mobile/IconMenuItem", "dojox/mobile/IconContainer",
                "dojox/mobile/ToggleButton", "dojox/mobile/ScrollableView", "dojox/mobile/ProgressIndicator", "dojox/mobile/SimpleDialog",
                "dojox/mobile/Button",'dojox/mobile/Container',
                "calendarView", "pickUnitView", "detailView", "request"],
            function ( domConstruct, xhr, mobile, mparser, View, Heading, roundRectList, ListItem, parser, ready, ToolBarButton, registry,
                       Tooltip, CalendarLite, IconItem, IconContainer, ToggleButton, ScrollableView, ProgressIndicator, SimpleDialog, Button, Pane,
                       CalendarView, PickUnitView, DetailView, Request) {

                var passView = new ScrollableView({scrollType:0},"pass_view");
                var passHeading = new Heading({label: "Введите пароль",fixed: "top"},"heading");
                var contentPane = new Pane({},"pane");
                var bottomHeading = new Heading({fixed: "bottom"},"bottom_heding");
                var cancelBtn = new ToolBarButton({label:"Сброс"});

                var filler1=document.getElementById("filler1");
                var filler2=document.getElementById("filler2");
                var filler3=document.getElementById("filler3");
                var filler4=document.getElementById("filler4");

                passView.createNumberButton=function(id, figure){
                    var numberBtn=document.getElementById(id);
                    numberBtn.figure = figure;
                    numberBtn.onclick=function(){
                        passView.enteringPassword(numberBtn);
                    };
                    return numberBtn;
                };

                var numberOneBtn=passView.createNumberButton("number_one", 1);
                var numberTwoBtn=passView.createNumberButton("number_two", 2);
                var numberThreeBtn=passView.createNumberButton("number_three", 3);
                var numberFourBtn=passView.createNumberButton("number_four", 4);
                var numberFiveBtn=passView.createNumberButton("number_five", 5);
                var numberSixBtn=passView.createNumberButton("number_six", 6);
                var numberSevenBtn=passView.createNumberButton("number_seven", 7);
                var numberEightBtn=passView.createNumberButton("number_eight", 8);
                var numberNineBtn=passView.createNumberButton("number_nine", 9);
                var numberZeroBtn=passView.createNumberButton("number_zero", 0);

                bottomHeading.addChild(cancelBtn);
                bottomHeading.startup();
                passHeading.startup();
                contentPane.startup();
                passView.startup();

                passView.enteredPass="";

                var fillers = [];
                var fillerIndex=0;

                fillers.push(filler1);
                fillers.push(filler2);
                fillers.push(filler3);
                fillers.push(filler4);

                passView.onTouchMove=function(){
                    passView.abort();
                };

                cancelBtn.onClick=function(){
                    passView.cleanUpPassword();
                };

                passView.enteringPassword=function(button) {
                    button.setAttribute("style", "background-color : Azure");
                    setTimeout(function () {
                        button.setAttribute("style", "background-color : #c5ccd3");
                    }, 100);
                    passView.enteredPass += button.figure;

                    fillers[fillerIndex].setAttribute("style","background-color : #263e6c" );
                    fillerIndex++;
                    if( passView.enteredPass.length==4){
                        passView.checkPassword();
                    }
                };
                passView.checkPassword = function(){

                    Request.postJSONData({url: "/control",data:{pass:passView.enteredPass}, consoleLog: true},
                            function (success, result) {
                                if (!success) {
                                    window.location.reload(true);
                                    return;
                                }
                                if (result.error) {
                                    //createDialogWin();
                                    passView.createDialogWin();
                                    passView.msgBox.innerHTML = "Неверный пароль";
                                    passView.dialogWin.show();
                                    passView.cleanUpPassword();
                                    return;
                                }
                                window.location.reload(true);
                            });
                };

                passView.cleanUpPassword=function(){
                    passView.enteredPass = "";
                    for(var e in fillers){
                        fillers[e].setAttribute("style", "background-color : #c5ccd3");
                    }
                    fillerIndex=0;
                };

                passView.createDialogWin=function() {
                    if (!passView.dialogWin) {
                        passView.dialogWin = new SimpleDialog({
                            id: "dialogWin"
                        });
                        document.getElementById('body').appendChild(passView.dialogWin.domNode);
                        if (!passView.msgBox) {
                            passView.msgBox = domConstruct.create("div",
                                    {class: "mblSimpleDialogText"},
                                    passView.dialogWin.domNode);
                        }
                        if (!passView.cancelBtn)
                            passView.cancelBtn = new Button({
                                class: "mblSimpleDialogButton mblRedButton",
                                innerHTML: "Ok"
                            });
                        passView.cancelBtn.connect(passView.cancelBtn.domNode, "click",
                                function (e) {
                                    passView.dialogWin.hide()
                                });
                        passView.cancelBtn.placeAt(passView.dialogWin.domNode);
                    }
                }
            });
    </script>
</html>